.footer__first-box-text {
    color:#cccccc;
    width: 238px;
    margin:20px 0 30px;
}
.footer__main {
    background-color: #3b3b3b;
    padding: 40px 115px;
    margin-top:80px;
}
.footer__first-title {
    color:white;
    font-size:22px;
}
.footer__first-box-text2 {
    color:#cccccc;
    margin:20px 0 30px;
    width:330px;
}
.footer__wrapper {
    display:flex;
    align-items:center;
    // gap: 90px;
}
.se {
    margin-left: 84px;
    margin-right: 40px;
}
.second {
    margin-top:20px;
}
.bi {
    color:#cccccc;
    font-size: 22px;
}

.line {
    background-color: #858584;
    width: 1060px;
    height: 2px;
    margin: 30px 0 20px;
}
.footer__last-text {
    color:#cccccc;
}